:root {
    --sf-standard-color: rgb(235, 235, 235);
    --sf-primary-color: rgb(239, 124, 0);
    --sf-primary-color-shadow: rgba(239, 124, 0, 0.1);
    --sf-dark-color: rgba(0, 0, 0);
    --sf-dark-color-background: rgba(0, 0, 0, 0.2);
}

body {
    background: rgba(24, 24, 26, 1)
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navbar {
    -webkit-box-shadow: 0px 0px 4px 1px var(--sf-primary-color-shadow);
    -moz-box-shadow: 0px 0px 4px 1px var(--sf-primary-color-shadow);
    box-shadow: 0px 0px 4px 1px var(--sf-primary-color-shadow);
    background-color: var(--sf-dark-color-background);
}

.navbar__contact {
    position: absolute;
    z-index: 1001;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    top: 0;
    padding: 5px 40px 0 0;
}

.navbar__contact__box {
    display: flex;
    align-items: center;
}

.navbar__contact-icon {
    font-size: 0.5rem;
    margin: 0 5px;
}

.navbar__contact__description {
    font-size: 0.8rem;
    /* border-right: solid var(--sf-primary-color) 1px; */
    padding-right: 5px;
    color: var(--sf-primary-color)
}

.navbar-brand-logo {
    max-width: 5rem;
    height: auto;
    margin-left: 20%;
}

.nav-item {
    padding: 5px 5px;
}

.nav-link-sf-brand {
    color: var(--sf-standard-color);
    font-size: 1rem;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.nav-link-sf-brand:hover {
    color: var(--sf-primary-color);
}

.flaticon-menu {
    font-size: 1.1rem;
}

/* NAVBAR-END */

/* HERO */

.carousel-item-img {
    background: url(../img/sport-2245029_1280.jpg) no-repeat center top fixed;
    width: auto;
    height: 100vh;
    background-size: cover;
}

#second {
    height: 100vh;
}

.carusele-item__caption {
    position: fixed;
    margin: 25vh 0 0 10vw;
    width: 10em;
    height: 10em;
    border: 4px var(--sf-primary-color) solid;
    color: var(--sf-standard-color);
    background-color: var(--sf-primary-color-shadow);
}

.carusele-item__caption-top {
    margin: 50% 0 0 25%;
    font-size: 2.5em;
    font-weight: bold;
    width: 300%;
}

/* HERO-END */
#koncept {
    min-height: 100vh;
}


@media (max-width: 767.98px) {
    .navbar-brand-logo {
        max-width: 3rem;
    }
    .navbar__contact {
        position: relative;
        z-index: 1001;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        top: 0;
        padding: 0;
        background: rgb(245, 171, 91);
    }
    .navbar__contact-icon {
        font-size: 0.3rem;
        margin: 0 5px;
        fill: var(--sf-dark-color);
        -webkit-text-fill-color: var(--sf-dark-color);
    }
    .navbar__contact__description {
        font-size: 0.7rem;
        padding: 0;
        color: var(--sf-dark-color)
    }
    /* NAVBAR-END */

    .carusele-item__caption {
        width: 5em;
        height: 5em;
    }
    .carusele-item__caption-top {
        font-size: 1.5em;
    }
}